.corousel-item img {
    height: 600px;
    object-fit: cover;
}
.carousel-caption h5 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0,5);
}
.carousel-caption {
    font-size: 1,2rem
}
.badge {
    padding: 15px 10px;
    top: -10px;
    right:-10px;
    position:absolute;
}